<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><% Deck[0].format %></title>
</head>
<body>
    <header>
        <%- include('./templates/header'); %>
      </header>
    <h1>Decks for format</h1>
    <ul>
        <% Deck.forEach((deck)=> { %>
            <a href="/deckviewer/deck/<%= `${deck.id}`%>"><h3><%= `${deck.deckName}` %></h3></a>
            <p><%=`${deck.notes}`%></p>
        <% }) %>
        
    </ul>
</body>
</html>