<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deck Viewer</title>
    <link rel="stylesheet" href="/css/deck_viewer.css">
</head>
<body>
    <header>
        <%- include('./templates/header'); %>
      </header>
    <div class="dropdown">
        <button class="dropbtn">Select Set</button>
        <div class="dropdown-content">
            <a href="/deckviewer/Base_Set">Base Set</a>
            <a href="/deckviewer/Base_Jungle">Base - Jungle</a>
            <a href="/deckviewer/Base_Fossil">Base - Fossil</a>
            <a href="/deckviewer/Base_Team_Rocket">Base - Team Rocket</a>
            <a href="/deckviewer/Base_Gym">Base Gym</a>
            <a href="/deckviewer/Prop_15/3">Prop 15/3</a>
            <a href="/deckviewer/Base_Neo">Base Neo</a>
            <a href="/deckviewer/Rocket_On">Rocket-On</a>
            <a href="/deckviewer/Neo-On">Neo-On</a>
            <a href='/deckviewer/ecard1_ex5'>Expedition to EX Hidden Legends (03-04 Standard)</a>
            <a href='/deckviewer/ex1_ex9'>EX Ruby & Sapphire to EX Emerald (04-05 Standard)</a>
            <a href='/deckviewer/ex5_ex13'>EX Hidden Legends to EX Holon Phantoms (05-06 Standard)</a>
            <a href='/deckviewer/ex8_dp1'>EX Deoxys to Diamond & Pearl (06-07 Standard)</a>
            <a href='/deckviewer/ex13_dp5'>EX Holon Phantoms to Majestic Dawn (07-08 Standard)</a>
            <a href='/deckviewer/dp1_hgss2'>Diamond & Pearl to Unleashed (08-10 Standard)</a>
            <a href='/deckviewer/dp5_bw1'>Majestic Dawn to Black & White (10-11 Standard)</a>
            <a href='/deckviewer/hgss1_bw5'>HeartGold & SoulSilver to Dark Explorers (11-12 Standard)</a>
            <a href='/deckviewer/bw1_bw9'>Black & White to Plasma Freeze (12-13 Standard)</a>
            <a href='/deckviewer/bw4_xy2'>Next Destinies to Flashfire (13-14 Standard)</a>
            <a href='/deckviewer/bw7_xy6'>Boundaries Crossed to Roaring Skies (14-15 Standard)</a>
            <a href='/deckviewer/bw1_xy6'>Black & White to Roaring Skies (14-15 Modified)</a>
            <a href='/deckviewer/xy1_xy11'>XY to Steam Siege (15-16 Standard)</a>
            <a href='/deckviewer/bw1_xy11'>Black & White to Steam Siege (15-16 Modified)</a>
            <a href='/deckviewer/xy5_sm3'>Primal Clash to Burning Shadows (16-17 Standard)</a>
            <a href='/deckviewer/bw1_sm3'>Black & White to Burning Shadows (16-17 Modified)</a>
            <a href='/deckviewer/xy8_sm7'>BREAKthrough to Celestial Storm (17-18 Standard)</a>
            <a href='/deckviewer/bw1_sm7'>Black & White to Celestial Storm (17-18 Modified)</a>
            <a href='/deckviewer/sm1_sm10'>Sun & Moon to Unbroken Bonds (18-19 Standard)</a>
            <a href='/deckviewer/bw1_sm10'>Black & White to Unbroken Bonds (18-19 Modified)</a>
            <a href='/deckviewer/sm5_swsh2'>Ultra Prism to Rebel Clash (19-20 Standard)</a>
            <a href='/deckviewer/bw1_swsh2'>Black & White to Rebel Clash (19-20 Modified)</a>
            <a href='/deckviewer/sm9_swsh6'>Team Up to Chilling Reign (20-21 Standard)</a>
            <a href='/deckviewer/bw1_swsh6'>Black & White to Chilling Reign (20-21 Modified)</a>
            <a href='/deckviewer/swsh1_swsh7'>Sword & Shield onwards (21-22 Standard)</a>
            <a href='/deckviewer/bw1_swsh7'>Black & White onwards (21-22 Modified)</a>

        </div>
      </div> 
        
</body>
</html>