<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deck Builder</title>
    <link rel="stylesheet" href="/css/deck_builder.css">
</head>
<body>
    <header>
        <%- include('./templates/header'); %>
      </header>
    <div id="contentdiv">  
      <div id="base_era" class="era">
            <p class="eratitle">Base Era</p>
            <a href="/deckbuilder/format/Base_Set" class="href">Base Set</a>
            <a href="/deckbuilder/format/Base_Jungle" class="href">Base - Jungle</a>
            <a href="/deckbuilder/format/Base_Fossil" class="href">Base - Fossil</a>
            <a href="/deckbuilder/format/Base_Team_Rocket" class="href">Base - Team Rocket</a>
            <a href="/deckbuilder/format/Base_Gym" class="href">Base Gym</a>
            <a href="/deckbuilder/format/Prop_153" class="href">Prop 15/3</a>
      </div>
      <div id="neo_era" class="era">
            <p class="eratitle">Neo Era</p>
            <a href="/deckbuilder/format/Base_Neo" class="href">Base Neo</a>
            <a href="/deckbuilder/format/Rocket_On" class="href">Rocket-On</a>
      </div>
      <div id="ex_era" class="era">
            <p class="eratitle">EX Era</p>
            <a href="/deckbuilder/format/Neo_On" class="href">Neo-On</a> 
            <a href='/deckbuilder/format/0304mod' class="href">Expedition to EX Hidden Legends (03-04 Standard)</a>
            <a href='/deckbuilder/format/0405mod' class="href">EX Ruby & Sapphire to EX Emerald (04-05 Standard)</a>
            <a href='/deckbuilder/format/0506mod' class="href">EX Hidden Legends to EX Holon Phantoms (05-06 Standard)</a>
      </div>
      <div id="dp_era" class="era">
            <p class="eratitle">Diamond & Pearl Era</p>
            <a href='/deckbuilder/format/0607mod' class="href">EX Deoxys to Diamond & Pearl (06-07 Standard)</a>
            <a href='/deckbuilder/format/0708mod' class="href">EX Holon Phantoms to Majestic Dawn (07-08 Standard)</a>
            <a href='/deckbuilder/format/0810mod' class="href">Diamond & Pearl to Unleashed (08-10 Standard)</a>
      </div>
      <div id="bw_era" class="era">
            <p class="eratitle">Black & White Era</p>
            <a href='/deckbuilder/format/1011mod' class="href">Majestic Dawn to Black & White (10-11 Standard)</a>
            <a href='/deckbuilder/format/1112mod' class="href">HeartGold & SoulSilver to Dark Explorers (11-12 Standard)</a>
            <a href='/deckbuilder/format/1213mod' class="href">Black & White to Plasma Freeze (12-13 Standard)</a>
      </div>
      <div id="xy_era" class="era">
            <p class="eratitle">Black & White Era</p>
            <a href='/deckbuilder/format/1314mod' class="href">Next Destinies to Flashfire (13-14 Standard)</a>
            <a href='/deckbuilder/format/1415standard' class="href">Boundaries Crossed to Roaring Skies (14-15 Standard)</a>
            <a href='/deckbuilder/format/1415exp' class="href">Black & White to Roaring Skies (14-15 Expanded)</a>
            <a href='/deckbuilder/format/1516standard' class="href">XY to Steam Siege (15-16 Standard)</a>
            <a href='/deckbuilder/format/1516exp' class="href">Black & White to Steam Siege (15-16 Expanded)</a>
      </div>
      <div id="sm_era" class="era">
            <p class="eratitle">Sun & Moon Era</p>
            <a href='/deckbuilder/format/1617standard' class="href">Primal Clash to Burning Shadows (16-17 Standard)</a>
            <a href='/deckbuilder/format/1617exp' class="href">Black & White to Burning Shadows (16-17 Expanded)</a>
            <a href='/deckbuilder/format/1718standard' class="href">BREAKthrough to Celestial Storm (17-18 Standard)</a>
            <a href='/deckbuilder/format/1718exp' class="href">Black & White to Celestial Storm (17-18 Expanded)</a>
            <a href='/deckbuilder/format/1819standard' class="href">Sun & Moon to Unbroken Bonds (18-19 Standard)</a>
            <a href='/deckbuilder/format/1819exp' class="href">Black & White to Unbroken Bonds (18-19 Expanded)</a>
      </div>
      <div id="swsh_era" class="era">
            <p class="eratitle">Sword & Shield Era</p>
            <a href='/deckbuilder/format/1920standard' class="href">Ultra Prism to Rebel Clash (19-20 Standard)</a>
            <a href='/deckbuilder/format/1920exp' class="href">Black & White to Rebel Clash (19-20 Expanded)</a>
            <a href='/deckbuilder/format/2021standard' class="href">Team Up to Chilling Reign (20-21 Standard)</a>
            <a href='/deckbuilder/format/2021exp' class="href">Black & White to Chilling Reign (20-21 Expanded)</a>
            <a href='/deckbuilder/format/2122standard' class="href">Sword & Shield onwards (21-22 Standard)</a>
            <a href='/deckbuilder/format/2122exp' class="href">Black & White onwards (21-22 Expanded)</a>
      </div>
    </div>
      
      
      
      
      
      
        
</body>
</html>