<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Tools Homepage</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<img src="/images/Pokemon-Logo.png" alt="">
    <div>
        <a href="/deckviewer">Deck Viewer</a>
        <a href="/deckbuilder">Deck Builder</a>
        <a href="/formatcalculation">Format Calculation</a>
        <a href="/inventory">Inventory</a>
        <a href="/play">Play Calculation</a>
    </div>
    
<body>
    
</body>
</html>