<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deck Viewer</title>
    <link rel="stylesheet" href="/css/inventory.css">
</head>
<body>
    <div class="dropdown">
        <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">
            <a href="/inventory/base1">Base Set</a>
            <a href="/inventory/base4">Base Set 2</a>
            <a href="/inventory/base2">Jungle</a>
            <a href="/inventory/base3">Fossil</a>
            <a href="/inventory/base5">Team Rocket</a>
            <a href="/inventory/gym2">Gym Challenge</a>
            <a href="/inventory/gym1">Gym Heroes</a>
            <a href="/inventory/neo4">Neo Destiny</a>
            <a href="/inventory/neo2">Neo Discovery</a>
            <a href="/inventory/neo1">Neo Genesis</a>
            <a href="/inventory/neo3">Neo Revelation</a>
            <a href="/inventory/basep">Wizards Black Star Promos</a>
            <a href="/inventory/base6">Legendary Collection</a>
        </div>
      </div> 
        
</body>
</html>