<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deck Viewer</title>
    <link rel="stylesheet" href="/css/inventory.css">
</head>
<body>
    <header>
        <%- include('./templates/header'); %>
    </header>
    <div id="contentdiv">
        <div class="seriesdiv" id="original">
            <p class="seriestitle">Original Series</p>
            <a href="/inventory/base1" class="href">Base Set</a>
            <a href="/inventory/base4" class="href">Base Set 2</a>
            <a href="/inventory/base2" class="href">Jungle</a>
            <a href="/inventory/base3" class="href">Fossil</a>
            <a href="/inventory/base5" class="href">Team Rocket</a>
            <a href="/inventory/gym2" class="href">Gym Challenge</a>
            <a href="/inventory/gym1" class="href">Gym Heroes</a>
            <a href="/inventory/basep" class="href">Wizards Black Star Promos</a>

        </div>
        <div class="seriesdiv" id="neo">
            <p class="seriestitle">Neo Series</p>
            <a href="/inventory/neo4" class="href">Neo Destiny</a>
            <a href="/inventory/neo2" class="href">Neo Discovery</a>
            <a href="/inventory/neo1" class="href">Neo Genesis</a>
            <a href="/inventory/neo3" class="href">Neo Revelation</a>
            <a href="/inventory/si1" class="href">Southern Islands</a>
        </div>
        <div class="seriesdiv" id="legendary_collection">
            <p class="seriestitle">Legendary Series</p>
            <a href="/inventory/base6" class="href">Legendary Collection</a>
        </div>
        <div class="seriesdiv" id="e-card">
            <p class="seriestitle">E-Card Series</p>
            <a href='/inventory/ecard1' class="href">Expedition Base Set </a>
            <a href='/inventory/ecard2' class="href">Aquapolis </a>
            <a href='/inventory/ecard3' class="href">Skyridge </a>
        </div>
        <div class="seriesdiv" id="ex">
            <p class="seriestitle">EX Series</p>
            <a href='/inventory/np' class="href">Nintendo Black Star Promos</a>
            <a href='/inventory/ex1' class="href">EX Ruby & Sapphire </a>
            <a href='/inventory/ex2' class="href">EX Sandstorm </a>
            <a href='/inventory/ex3' class="href">EX Dragon </a>
            <a href='/inventory/ex4' class="href">EX Team Magma vs Team Aqua </a>
            <a href='/inventory/ex5' class="href">EX Hidden Legends </a>
            <a href='/inventory/ex6' class="href">EX FireRed & LeafGreen</a>
            <a href='/inventory/ex7' class="href">EX Team Rocket Returns </a>
            <a href='/inventory/ex8' class="href">EX Deoxys </a>
            <a href='/inventory/ex9' class="href">EX Emerald</a>
            <a href='/inventory/ex10' class="href">EX Unseen Forces </a>
            <a href='/inventory/ex11' class="href">EX Delta Species </a>
            <a href='/inventory/ex12' class="href">EX Legend Maker </a>
            <a href='/inventory/ex13' class="href">EX Holon Phantoms </a>
            <a href='/inventory/ex14' class="href">EX Crystal Guardians </a>
            <a href='/inventory/ex15' class="href">EX Dragon Frontiers </a>
            <a href='/inventory/ex16' class="href">EX Power Keepers </a>
            <a href='/inventory/pop1' class="href">POP Series 1</a>
            <a href='/inventory/pop2' class="href">POP Series 2</a>
            <a href='/inventory/pop3' class="href">POP Series 3</a>
            <a href='/inventory/pop4' class="href">POP Series 4</a>
            <a href='/inventory/pop5' class="href">POP Series 5</a>
        </div>
        <div class="seriesdiv" id="diamond_pearl">
            <p class="seriestitle">Diamond & Pearl Series</p>
            <a href='/inventory/dp1' class="href">Diamond & Pearl </a>
            <a href='/inventory/dp2' class="href">Mysterious Treasures </a>
            <a href='/inventory/dp3' class="href">Secret Wonders </a>
            <a href='/inventory/dp4' class="href">Great Encounters </a>
            <a href='/inventory/dp5' class="href">Majestic Dawn </a>
            <a href='/inventory/dp6' class="href">Legends Awakened </a>
            <a href='/inventory/dp7' class="href">Stormfront </a>
            <a href='/inventory/pop6' class="href">POP Series 6</a>
            <a href='/inventory/pop7' class="href">POP Series 7</a>
            <a href='/inventory/pop8' class="href">POP Series 8</a>
            <a href='/inventory/dpp' class="href">DP Black Star Promos</a>
        </div>
        <div class="seriesdiv" id="platinum">
            <p class="seriestitle">Platinum Series</p>
            <a href='/inventory/pl1' class="href">Platinum </a>
            <a href='/inventory/pl2' class="href">Rising Rivals </a>
            <a href='/inventory/pl3' class="href">Supreme Victors </a>
            <a href='/inventory/pl4' class="href">Arceus </a>
            <a href='/inventory/pop9' class="href">POP Series 9</a>
            <a href='/inventory/ru1' class="href">Pokémon Rumble</a>
        </div>
        <div class="seriesdiv" id="heartgold_soulsilver">
            <p class="seriestitle">Heart Gold & Soul Silver Series</p>
            <a href='/inventory/hgss1' class="href">HeartGold & SoulSilver </a>
            <a href='/inventory/hgss2' class="href">Unleashed </a>
            <a href='/inventory/hgss3' class="href">Undaunted </a>
            <a href='/inventory/hgss4' class="href">Triumphant </a>
            <a href='/inventory/hsp' class="href">HGSS Black Star Promos</a>
        </div>
        <div class="seriesdiv" id="call_of_legends">
            <p class="seriestitle">Call of Legends Series</p>
            <a href='/inventory/col1' class="href">Call of Legends </a>
        </div>
        <div class="seriesdiv" id="black_white">
            <p class="seriestitle">Black & White Series</p>
            <a href="/inventory/bw1" class="href">Black & White</a>
            <a href="/inventory/bw2" class="href">Emerging Powers</a>
            <a href="/inventory/bw3" class="href">Noble Victories</a>
            <a href="/inventory/bw4" class="href">Next Destinies</a>
            <a href="/inventory/bw5" class="href">Dark Explorers</a>
            <a href="/inventory/bw6" class="href">Dragons Exalted</a>
            <a href="/inventory/bw7" class="href">Boundaries Crossed</a>
            <a href="/inventory/bw8" class="href">Plasma Storm</a>
            <a href="/inventory/bw9" class="href">Plasma Freeze</a>
            <a href="/inventory/bw10" class="href">Plasma Blast</a>
            <a href="/inventory/bw11" class="href">Legendary Treasures</a>
            <a href='/inventory/dv1' class="href">Dragon Vault</a>
            <a href='/inventory/mcd11' class="href">McDonald’s Collection 2011</a>
            <a href='/inventory/mcd12' class="href">McDonald’s Collection 2012</a>
            <a href="/inventory/bwp" class="href">Black & White Black Star Promos</a>
        </div>
        <div class="seriesdiv" id="xy">
            <p class="seriestitle">X & Y Series</p>
            <a href='/inventory/xy1' class="href">XY </a>
            <a href='/inventory/xy2' class="href">Flashfire </a>
            <a href='/inventory/xy3' class="href">Furious Fists </a>
            <a href='/inventory/xy4' class="href">Phantom Forces </a>
            <a href='/inventory/xy5' class="href">Primal Clash </a>
            <a href='/inventory/xy6' class="href">Roaring Skies </a>
            <a href='/inventory/xy7' class="href">Ancient Origins </a>
            <a href='/inventory/dc1' class="href">Double Crisis</a>
            <a href='/inventory/mcd14' class="href">McDonald’s Collection 2014</a>
            <a href='/inventory/xy0' class="href">Kalos Starter Set</a>
            <a href='/inventory/xyp' class="href">X & Y Black Star Promos</a>
        </div>
        <div class="seriesdiv" id="xy_break">
            <p class="seriestitle">X & Y BREAK Series</p>
            <a href='/inventory/xy8' class="href">BREAKthrough </a>
            <a href='/inventory/xy9' class="href">BREAKpoint </a>
            <a href='/inventory/xy10' class="href">Fates Collide </a>
            <a href='/inventory/xy11' class="href">Steam Siege </a>
            <a href='/inventory/xy12' class="href">Evolutions </a>
            <a href='/inventory/g1' class="href">Generations</a>
            <a href='/inventory/mcd15' class="href">McDonald’s Collection 2015</a>
            <a href='/inventory/mcd16' class="href">McDonald’s Collection 2016</a>
        </div>
        <div class="seriesdiv" id="sun_moon">
            <p class="seriestitle">Sun & Moon Series</p>
            <a href='/inventory/sm1' class="href">Sun & Moon </a>
            <a href='/inventory/sm2' class="href">Guardians Rising </a>
            <a href='/inventory/sm3' class="href">Burning Shadows </a>
            <a href='/inventory/sm4' class="href">Crimson Invasion </a>
            <a href='/inventory/sm5' class="href">Ultra Prism </a>
            <a href='/inventory/sm6' class="href">Forbidden Light </a>
            <a href='/inventory/sm7' class="href">Celestial Storm </a>
            <a href='/inventory/sm8' class="href">Lost Thunder </a>
            <a href='/inventory/sm9' class="href">Team Up </a>
            <a href='/inventory/sm10' class="href">Unbroken Bonds </a>
            <a href='/inventory/sm11' class="href">Unified Minds </a>
            <a href='/inventory/sm12' class="href">Cosmic Eclipse </a>
            <a href='/inventory/mcd17' class="href">McDonald’s Collection 2017</a>
            <a href='/inventory/mcd18' class="href">McDonald’s Collection 2018</a>
            <a href='/inventory/mcd19' class="href">McDonald’s Collection 2019</a>
            <a href='/inventory/smp' class="href">SM Black Star Promos</a>
            <a href='/inventory/det1' class="href">Detective Pikachu</a>
            <a href='/inventory/sm115' class="href">Hidden Fates</a>
            <a href='/inventory/sm35' class="href">Shining Legends</a>
            <a href='/inventory/sm75' class="href">Dragon Majesty</a>
            <a href='/inventory/sma' class="href">Hidden Fates Shiny Vault</a>
        </div>
        <div class="seriesdiv" id="sword_shield">
            <p class="seriestitle">Sword & Shield Series</p>
            <a href='/inventory/swsh1' class="href">Sword & Shield </a>
            <a href='/inventory/swsh2' class="href">Rebel Clash </a>
            <a href='/inventory/swsh3' class="href">Darkness Ablaze </a>
            <a href='/inventory/swsh4' class="href">Vivid Voltage </a>
            <a href='/inventory/swsh5' class="href">Battle Styles </a>
            <a href='/inventory/swsh6' class="href">Chilling Reign </a>
            <a href='/inventory/swsh7' class="href">Evolving Skies </a>
            <a href='/inventory/swsh35' class="href">Champion’s Path</a>
            <a href='/inventory/swsh45' class="href">Shining Fates</a>
            <a href='/inventory/swsh45sv' class="href">Shining Fates Shiny Vault</a>
            <a href='/inventory/mcd21' class="href">McDonald’s Collection 2021</a>
            <a href='/inventory/swshp' class="href">SWSH Black Star Promos</a>
            <a href='/inventory/cel25' class="href">Celebrations</a>
            <a href='/inventory/cel25c' class="href">Celebrations Classic Collection</a>
        </div>
    </div>
        
</body>
</html>