<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/konva@8/konva.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    
    <link rel="stylesheet" href="/css/tcg_canvas.css">
    <title>Zach's bootleg pokemon tcg game</title>
</head>
<body oncontextmenu="return false">
    <header>
        <%- include('./templates/header'); %>
      </header>
    <div id="top_row">
        <img src="/images/Pokemon_Trading_Card_Game_cardback.jpg" id="discard_img" oncontextmenu="showContextMenu(this.id,'discard')">
        <img src="/images/placeholder_heads.png" id="coinflip" onclick="flipCoin()">
        <img id="prizes" oncontextmenu="showContextMenu(this.id,'prizes')">
        <div id="stageContainer"></div>
        <div id="gamestate" class="gamestate">
            <p id="opponentdeckcount" class="gamestatetext"></p>
            <p id="opponentprizescount" class="gamestatetext"></p>
            <p id="opponenthandcount" class="gamestatetext"></p>
        </div>
        <div id="markersdiv">
            <img src="/images/damage_10.png" id="damage_10" class="marker" onclick="addMarkerToStage(this.id,this.src)">
            <img src="/images/damage_50.png" id="damage_50" class="marker" onclick="addMarkerToStage(this.id,this.src)">
            <img src="/images/paralyze.png" id="paralyze" class="marker" onclick="addMarkerToStage(this.id,this.src)">
            <img src="/images/confusion.png" id="confusion" class="marker" onclick="addMarkerToStage(this.id,this.src)">
            <img src="/images/sleep.png" id="sleep" class="marker" onclick="addMarkerToStage(this.id,this.src)">
            <img src="/images/burn.png" id="burn" class="marker" onclick="addMarkerToStage(this.id,this.src)">
            <img src="/images/poison.png" id="poison" class="marker" onclick="addMarkerToStage(this.id,this.src)">
        </div>
    </div>
    <div id="bottom_row">
        <img src="/images/Pokemon_Trading_Card_Game_cardback.jpg" id="deck_img" oncontextmenu="showContextMenu(this.id,'deck')">
        <div id="hand"></div>
    </div>
    <div id="context-menu_hand" class="context-menu">
        <div id="viewCard_hand" class="contextSelection">View Card</div>
        <div id="placeCardInDeck_hand" class="contextSelection">Place card in deck</div>
        <div id="placeCardInDiscard_hand" class="contextSelection">Place card in discard</div>
        <div id="placeCardInPlay_hand" class="contextSelection">Place card in play</div>
    </div>
    <div id="context-menu_deck" class="context-menu">
        <div id="viewCards_deck" class="contextSelection">View Cards</div>
        <div id="drawCard_deck" class="contextSelection">Draw Card</div>
    </div>
    <div id="context-menu_discard" class="context-menu">
        <div id="viewCards_discard" class="contextSelection">View Cards</div>
    </div>
    <div id="context-menu_playerStage" class="context-menu">
        <div id="viewCard_playerStage" class="contextSelection">View Card</div>
        <div id="placeCardInDeck_playerStage" class="contextSelection">Place card in deck</div>
        <div id="placeCardInHand_playerStage" class="contextSelection">Place card in hand</div>
        <div id="placeCardInDiscard_playerStage" class="contextSelection">Place card in discard</div>
    </div>
    <div id="context-menu_opponentStage" class="context-menu">
        <div id="viewCard_opponentStage" class="contextSelection">View Card</div>
    </div>
    <div id="context-menu_prizes" class="context-menu">
        <div id="drawPrize_prizes" class="contextSelection" oncontextmenu="showContextMenu(this.id,'prizes')">Take Prize</div>
    </div>
    <div id="context-menu_playerMarkers" class="context-menu">
        <div id="removeMarker_playerMarkers" class="contextSelection">Remove Marker</div>
    </div>
    <div id="cardModal" class="modal">
        <img class="modal-content" id="img01">
    </div>
    <div id="deckModal" class="modal">
        <div id="deckCardsList" class="modalList"></div>
    </div>
    <div id="discardModal" class="modal">
        <div id="discardCardsList" class="modalList"></div>
    </div>
    

    

    <script src="/javascript/tcg_gameplay/tcg_classes.js"></script>
    <script src="/javascript/tcg_gameplay/tcg_canvas.js"></script>
    <script src="/javascript/tcg_gameplay/tcg_event_listeners.js"></script>
    <script src="/javascript/tcg_gameplay/tcg_game_engine.js"></script>
    
    <script type='text/javascript'>
        cardsFromDb = JSON.parse(`<%-JSON.stringify(Deck)%>`);
        gameUUID=JSON.parse(`<%-JSON.stringify(gameUUID)%>`)
        player=JSON.parse(`<%-JSON.stringify(player)%>`)
        deck.initDeck(cardsFromDb);
    </script>
</body>

</html>