<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deck Viewer</title>
    <link rel="stylesheet" href="/css/deck_viewer.css">
</head>
<body>
    <div class="dropdown">
        <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">
            <a href="/tcg/Base_Set">Base Set</a>
            <a href="/tcg/Base_Jungle">Base - Jungle</a>
            <a href="/tcg/Base_Fossil">Base - Fossil</a>
            <a href="/tcg/Base_Team_Rocket">Base - Team Rocket</a>
            <a href="/tcg/Base_Gym">Base Gym</a>
            <a href="/tcg/Prop_15/3">Prop 15/3</a>
            <a href="/tcg/Base_Neo">Base Neo</a>
            <a href="/tcg/Rocket_On">Rocket-On</a>
            <a href="/tcg/Neo-On">Neo-On</a>
        </div>
      </div> 
        
</body>
</html>