#contentdiv{
  column-count: 3;
  column-gap: 20px;
  column-width:30%;
  
}
.era{
  border-style: solid;
    border-width: 0.5%;
    border-color: firebrick;
    padding:1%;
    width:100%;
    display: inline-block;
}
.eratitle{
  background-color: rgb(231, 231, 231);
  font-weight: bold;
}
.href{
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
  padding-right:3px;
}

header{
  display:block;
}
nav{
  display:block;
}

  .card{
    max-width:100%;
    max-height:100%;
    display:inline-block;
  }

  .anchor{
    max-width:50%;
  }
  .instances{
    font-size:20pt;
    margin-left: 10%;
    margin-bottom: 30%;
    width: 20%;
    display:inline-block;

  }
  .inventoryinput{
    width:100px;
    height:20px;
    padding:1px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
  }

  .inventorysubmit{
    width:100px;
    height:40px;
    padding-bottom:10px;
    font-size:10px;
    
    
  }

  .cardname{
    font-family:helvetica;
    font-size:15px;
    height:auto;
    margin:auto;
    padding-top:10px;
    padding-bottom:5px;
  }
  .cardnumber{
    font-family:helvetica;
    font-size:15px;
    height:20px;
    margin:auto;
    padding-top:5px;
    padding-bottom:5px;
  }
  .inventorycurrent{
    font-family:helvetica;
    font-size:15px;
    height:20px;
    margin:auto;
    padding-bottom:5px;
    padding-top:5px;
  }

  .carddiv{
    
    background-color: burlywood;
    border-style: solid;
    border-width: 0.5%;
    border-color: firebrick;
    float:left;
    width:300px;
    height: 200px;
    white-space: pre-wrap;
    overflow:hidden;
    
  }
  #decknotes{
    width:40%;
    margin:auto;
    background-color: rgb(216, 130, 19);
    border-style: solid;
    border-width: 0.5%;
    border-color: black;
  }

  h1{
    margin:auto;
    
  }