body{
  width:95vw;
  height:98vh;
}
#stageContainer{
    position:absolute;
    width:70%;
    height: 100%;
    border: 1px solid black;
    top:0%;
    left:15%;
    

}


.card{
  max-height: 100%;
}

#top_row{
  position:absolute;
  height:35vw;
  width:98vw;
}
#bottom_row{
  position:absolute;
  height:10vw;
  width:98vw;
  
  top:36vw;
}

#hand{
  margin:auto;
  width:70%;
  height:100%;
}

#deck_img{
  height:100%;
  position:absolute;
  left:90%
}
#discard_img{
  position:absolute;
  left: 90%;
  height:28.5%;
  top:60%;
}
#prizes{
  position:absolute;
  top:60%;
  height:35%;
}
.context-menu {
  position: fixed;
  z-index: 10000;
  width: 150px;
  background: #1b1a1a;
  border-radius: 5px;
  display:none;
}


.context-menu.visible {
    display:block;
}

.context-menu .contextSelection {
  padding: 8px 10px;
  font-size: 15px;
  color: #eee;
  cursor: pointer;
  border-radius: inherit;
}




.context-menu .contextSelection:hover {
  background: #343434;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
