<style>
  .navbar{
    max-height: 8%;
    
  }
  .nav-item{
    position:relative;
    list-style-type: none;
    padding:10px;
    float:left
  }
  .nav-link{
    text-decoration: none;
  }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/deckbuilder">Deck Builder</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/deckviewer">Deck Viewer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/inventory">Inventory</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/deckcalculation">Deck Calculation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tcg">Play TCG</a>
      </li>
    </ul>
  </nav>
<br clear="all"></br>